
body {
  background-color: yellow;
}

div {
  margin-right: 30px;
  margin-left: 30px;
  border-width: 2px;
  border-color: green;
  background-color: red;
}

h1  {
  color: white;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
  border-width: 5px;
  border-style: dotted;
  border-color: blue;
  background-color: gray;
}